# Auto detect text files and perform LF normalization
* text=auto
a：hover {
  文字装饰：无;
}
img {
  显示：块;
  宽度：50％;
  身高：50％;
}
img，.side-bar .list-group-item，
。侧杆卡{
  border-radius：3px;
}
.navbar品牌{
  background-image：url（../ img / 5.gif）;
  宽度：50px;
  背景大小：80％;
  背景重复：不重复;
  背景位置：中心;
}
.side-bar .list-group-item {
  border：0;
}
.side-bar .list-group-item .active {
  背景颜色：＃000;
}
.new-list-item .title：hover {
  颜色：＃dd4916;
}
.new-list-item {
padding-top：15px;
padding-bottom：15px;
  border-bottom：1px solid #eee;
}
.new-list-item：first-child {
padding-top：0;
}

.new-list-item .title {
  颜色：＃444;
  显示：块;
  font-size：18px;
  font-weight：bold;
  margin-bottom：10px;
  线高：1.5;
}
.new-list-item .info {
  颜色：＃888;
}
.avatar {
  显示：inline-block;
}
.avatar img {
  显示：inline-block;
  width：16px;
  height：16px;
  margin-right：5px;
}
.side杆卡{
  背景：rgba（0,0,0,0.1）;
  margin-top：15px;
  填充：10px 0;
}
.side-bar-card .flag {
  padding-top：20px;
  填充底：20像素;
}
.side-bar-card .text-lg {
  font-size：150％;
}
卡牌，卡片标题，
.card-body .list .item {
padding：10px 15px;
}
。卡片卡。卡片标题{
  font-size：18px;
  font-weight：bold;
  padding-top：0;
  padding-bottom：0;
}
.card-body .list .item：hover {
  背景：rgba（0,0,0,0.2）;
}
.card-body .list .item {
  填充：10px的;
}
.card-body .list .item.title.desc {
  颜色：＃999;
}
。新闻标题{
线高：1.3;
}
。新闻状态{
  颜色：＃999;
}
.news-status .label {
  不透明度：0.8;
}
新闻内容{
  margin-top：20px;
  font-size：15px;
  线高：1.5;

}
。没有补-H {
  padding-left：0;
  padding-right：0;

}
.footer {
  margin-top：20px;
  padding：50px 0;
  text-align：center;
  颜色：＃999;
}
容器小{
  max-width：500px;
}
.btn原色{
  背景：＃dd4916;
  border-color：＃dd4916;
}
.btn-primary：hover {
  背景：＃dd4916;
  border-color：＃dd4916;
}
.repts .form-control {
    border：0px;
}
＃拨动checbox：检查〜DIV {
  显示：块！重要;
}
＃toggle-label {
  显示：内联块;
  职位：绝对
  右：15px;
  顶部：13px;
  font-size：16px;
  font-weight：bold;
  颜色：＃666;
  显示：无;
}
＃切换标签：悬停{
  颜色：＃333;
}
